<div id="predsearch" class="w-full grid lg:grid-cols-3 pb-4 gap-8">
  <div
    class="predictive-search predictive-search--header max-lg:!max-h-none lg:shadow-megamenu lg:absolute lg:top-full lg:left-0 lg:bg-white/95 hidden group-open/search:!block group-open/search:py-5 lg:p-5 w-full lg:overflow-auto lg:-mt-px"
    tabindex="-1"
    data-predictive-search
  >
    <div class="predictive-search__loading-state !hidden">
      <svg
        aria-hidden="true"
        focusable="false"
        class="spinner"
        viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </div>
  <ul class="flex flex-col gap-4">
    <li class="text-base font-bold">Popular Searches</li>

    {% for query in predictive_search.resources.queries %}
      <li>
        <a href="{{ query.url }}}" class="hover:underline">{{ query.styled_text }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="hidden lg:grid lg:grid-cols-5 grow gap-4 col-span-2">
    <h3 class="text-base font-bold col-span-5">Featured Products</h3>
    {% for product in predictive_search.resources.products %}
      {% render 'card-product', card_product: product, section_id: section.id, horizontal_quick_add: true %}
    {% endfor %}
  </div>
</div>
